.logo {
  position: relative;
  background-image: url("/images/temp_logo.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 890px) {
  .logo {
    height: 130px;
    width: 130px;
  }
}
